:root{
    --dark-coller: #19283f;
    --gren-coller:#33d1cc;
    --red-coller:#ff3150;
    --yello-coller:#ffc400;
    --section-coller:#eff7fa;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-btn{
    background-color: var(--red-coller);
    color: var(--yello-coller);
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.main-btn:hover{
    color:#ddb327 ;
    background-color: var(--red-coller);
}

.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--gren-coller);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/*Start.Navbar*/

.navbar{
    background-color: var(--dark-coller);
}

.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link.activ,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--gren-coller);
}

.search{
    border-left: 1px solid var(--gren-coller) ;
}

.search svg{
    color: var(--gren-coller);
}

.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color:white ;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--gren-coller);
}

/*End.Navbar*/

/*start-landing*/
.landing{
    background-color: var(--dark-coller);
    min-height: calc(100vh - 72px);
}
/*End-landing*/

/* Start Features */
.features .icon-holder {
    height: 200px;
  }
  .features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
  }
  .features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-coller);
  }
  .features .icon-holder .icon {
    color: var(--gren-coller);
  }
  .features .feat h4 {
    color: var(--yello-coller);
  }
  /* End Features */

  /*start our-work*/
  .our-work{
    background-color: var(--section-coller);
  }
  .our-work ul .active{
    background-color: var(--red-coller);
    color: var(--yello-coller);
  }
  .our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .our-work ul li:not(.active):hover{
    color: var(--red-coller);
  }
  .our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
  }
  .our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 /76% );
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
  }
  .our-work .box:hover::before{
    transform: translateX(0);
  }
   /*End our-work*/

/*start stuff*/
.stuff .description{
  max-width: 500px;
}
/*End stuff*/

/*start Tean*/
.team{
  background-color: var(--section-coller);
}
.team h2{
  color: var(--yello-coller);
}
.team .box h4{
  background-color: var(--gren-coller);
}
/*End Team*/

/*start progect*/
.project{
  background-color: var(--dark-coller);
}
/*start progect*/

/*Start Subscribe*/
.subscribe{
  background-color: var(--yello-coller);
}
.subscribe input[type="email"]{
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="email"]:focus{
  outline: none;
}

.subscribe ::placeholder{
  color: white;
}
.subscribe input[type="submit"]{
  background-color: var(--dark-coller);
  color: var(--yello-coller);
}
/*End Subscribe*/

/*Start Footer*/
.footer{
  background-color: var(--dark-coller);
}
.footer .copyright > span{
  color: var(--gren-coller);
}
.footer .copyright div span{
  color: var(--yello-coller);
}
.footer .contact ul svg{
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.footer .facbook{
  background-color:#1877f2;
}
.footer .twitter{
  background-color:#1da1f2 ;
}
.footer .linkedin{
  background-color: #0a66c2;
}
.footer .youtube{
  background-color: #ff0000;
}
/*End Footer*/